In [ ]:
## The goal of this notebook is to prepare a training and testing dataset from the origional
## housing dataset

In [9]:
## Import modules
import pandas as pd
from sklearn.model_selection import train_test_split

In [11]:
## Import housing dataset
housing = pd.read_csv("../data/raw/housing.csv")

In [6]:
## Split the master dataset randomly with 20% allocated to the test set
train_set, test_set = train_test_split(housing, test_size = 0.2, random_state = 42)

In [14]:
## Save the training and testing sets
train_set.to_csv("../data/interim/housing_train_set.csv", index=False)
test_set.to_csv("../data/interim/housing_test_set.csv", index=False)

In [15]:
## Check that the dataset is written properly
pd.read_csv("../data/interim/housing_test_set.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.01,36.06,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0,INLAND
1,-119.46,35.14,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0,INLAND
2,-122.44,37.80,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0,NEAR BAY
3,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN
4,-121.93,36.62,34.0,2351.0,NaN,1063.0,428.0,3.7250,278000.0,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...,...
4123,-117.22,33.36,16.0,3165.0,482.0,1351.0,452.0,4.6050,263300.0,<1H OCEAN
4124,-120.83,35.36,28.0,4323.0,886.0,1650.0,705.0,2.7266,266800.0,NEAR OCEAN
4125,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,500001.0,<1H OCEAN
4126,-119.76,36.77,36.0,2507.0,466.0,1227.0,474.0,2.7850,72300.0,INLAND
4127,-118.37,34.22,17.0,1787.0,463.0,1671.0,448.0,3.5521,151500.0,<1H OCEAN